{#
/**
 * @file
 * Theme override for baggage description.
 */
#}
<p>{% trans %}<strong>Business Fare:</strong> 2 Checked Bags, 1 Carry On and 1 Personal item<br>
<strong>Everyday Fare:</strong> 1 Checked Bags, 1 Carry On and 1 Personal item<br>
<strong>Go Your Way Fare:</strong> 0 Checked Bags, 0 Carry On and 1 Personal item<br>
For more baggage information <a href="{{ site_settings.general.baggage_policies_page.url.toString() }}" target="_blank">click here</a>.<br>
To view the Fare Rules Information <a href="{{ site_settings.general.purchasing_refunds_page.url.toString() }}" target="_blank">click here</a>.{% endtrans %}</p>
