@media only screen and (min-width: 320px) and (max-width:415px){
  body.path-frontpage .banner-front #block-banner {
    /* position: relative;
    background: url(../image/airone-bann.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    height: 98vh !important;
}
}
 @media only screen and (min-width: 320px) and (max-width:575px){
  body.path-gallery #banner-section #block-airplanegallery .field--name-body {
    height: 150px;
    text-align: center;
    padding-top: 64px;
  }
  form.change-membership-form  .custom-stripe {
     margin-left: 10px;
   }
  body.path-dashboard .dashboard-body-setion {
    padding-left: 94px;
  }
  body.path-dashboard .block-superfish {
    margin-left: 114px;
  }
  .sign_in_left h1 {
    width: 80%;
    margin: 0 auto;
  }
  .booking-section .row > .col-md-6 {
    margin-bottom: 15px;
  } 
  form .form-actions .button {
    padding: 3px 22px 0px;
  }
  ul.sf-menu.sf-accordion, ul.sf-menu.sf-accordion ul, ul.sf-menu.sf-accordion li {
    width: auto;
  }
  .col-md-6.search_flights_departures {
    padding-right: 0;
  }
  .col-md-6.search_flights_returns {
    padding-left: 15px;
  }
  form .form-actions {
    width: 100%;
    padding-left: 15px;
    min-height: 176px;
  }
  form .form-actions input[value="Next"] {
    float: left;
  }
  .ticket_total_depart {
     width: auto;
  }
  #your-ticket.book_ticket, 
  .col-lg-4.tcb_right, .col-md-4.tcb_right {
    text-align: center;
  }
  form.aco-book-flight-search-form.antibot {
    margin-bottom: 25px;
  } 
  .view-front-page-packages .view-content .views-row {
    width: 100%;
  }
  .view-front-page-packages .view-header h2 {
    font-size: 54px;
  }
  body.path-packages .view-front-page-packages {
    width: 95%;
  }

  #block-alreadyamember {
    color: #fff;
  }
  .sign_in_left {
    width: 100%;
  }
  .sign_in_right {
    display: none;
  } 
  body.user-logged-out.path-user #header-menu {
    width: 100%;
  }
  .sign_in_page form {
    width: 80%;
    margin: 134px auto 0 auto;
  }

/* update z */
.related_pages .gallery-img img {
  max-width: 100%;
  height: auto;
}
.path-gallery .view-gallery {
  padding-bottom: 0;
  padding-top: 12px;
}
#header-menu #block-useraccountmenu ul li:nth-child(1) {
  padding-top: 8px !important;
}
.page-node-type-contact-us .main-form-section {
  padding-bottom: 28px;
}

#header-menu #block-useraccountmenu ul li:nth-child(1) a{
  padding: 14px 24px 14px !important;
  border-radius: 50px;
  transition: .3s;
  border: 0px;
  font-size: 18px;
  cursor: pointer;
  background: white;
  color: #000 !important;
}
.page-node-type-contact-us .contact-ussection {
  padding: 35px 0 35px 0;
}
.faq-section-inner .main-form-section {
  padding-bottom: 30px;
}
.faq-section-inner .view-faq.ui-accordion .ui-accordion-header {
  list-style: none;
  color: black;
  font-size: 18px;
  font-family: 'Calibre';
}
.path-gallery #page-footer #block-galleryfooter {
  max-width: 850px;
  margin: 20px auto;

  width: 90%;
  color: #000;
}
.path-gallery .view-gallery .col-md-4 {
  margin-bottom: 26px;
  padding: 0;
}
.path-gallery .view-gallery .view-header h2 {
  font-size: 46px;
  font-family: 'Calibre-Light';
  line-height: 50px;
  margin-bottom: 25px;
  padding-left: 0;
}
.path-gallery #banner-section .field--name-body p {
  font-size: 42px;
  text-align: left;
  padding-left: 18px;
  padding-right: 18px;
}
#banner-section #block-airplanegallery .field--name-body {
  height: auto;
  text-align: center;
  margin-top: 20px;
}
body.path-gallery .view-gallery-gallery-field .view-content .views-row {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}
.related_pages {
  position: relative;
  height: auto;
}
.gallery-blog-bottom .rpl h2 {
  font-size: 24px;

}
.about-col-section-inner img {

  height: auto;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
}
.about-col-section-inner .field--name-multiple-content > .field__item .paragraph--type--multiple-content {
  position: relative;
  height: auto;
  box-shadow: 6px 11px 23px rgb(65 23 119 / 14%);
}
.about-bottom-section .about-col-section .field--name-content-title {
  font-size: 24px;
  font-family: 'Calibre-Light';
  line-height: 1;
  margin-bottom: 10px;
  color: black;
  padding: 0 15px 30px 30px;
  position: relative;
  margin-top: 6px;
}
.about-bottom-section {
  padding: 36px 0 0 0;
}
body.page-node-type-about-us #block-havequestionscontactoursupportteam {
  width: 90%;
  margin: 0 auto -64px auto;
}
.about-bottom-section .about-col-section .field--name-content-title::after {
  /* content: ' ';
  background-image: url('../image/right-arrow.png');
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
  padding: 20px 18px; */
  top: -9px;
}
#header-menu #block-useraccountmenu ul li:nth-last-child(1) a{
  padding: 14px 24px 14px !important;
}
.faq-section-inner .view-faq.ui-accordion .ui-accordion-header .field-content::after {
  top: 4px;
}
header#header-menu #menu-main nav#block-useraccountmenu {

  order: 2;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  padding-top: 13px;
  padding-bottom: 20px;
  text-align: center;
}
header#header-menu #menu-main .container > nav {
 
  order: 3;
}
header#header-menu .search-effect {
  padding: 20px;
}
header#header-menu .region-nav-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#banner-section #block-travelpolicy,
 #banner-section #block-safetypage, 
 #banner-section #block-contactusbanner, 
 #banner-section #block-banner {
  margin-top: -69px;
  position: relative;
  z-index: 2;
}
#banner-section #block-banner .field--name-body h3 {
  text-transform: none;
  font-family: "Calibre-Light";
  font-size: 26px;
  line-height: 1.2;
  color: #fff;
}
.about-us-section .eb_text {
  position: relative;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-us-section .eb_text h2 {
  font-size: 40px;
  font-family: 'Calibre-Light';
  line-height: 1;
  margin-bottom: 10px;
  color: black;
}
#banner-section #block-banner .field--name-body p {
  font-size: 41px;
}
#banner-section .field--name-body p {
  font-size: 44px;
}
#banner-section .field--name-body h3 {

  line-height: 1;

}
/* #block-videobannersection iframe {
  height: 255px;
} */
#block-banner .field__item img {

  height: 60vh;
}
.block-views-blockfront-page-packages-block-1 {
  width: 100%;
  padding-top: 0px;

}
.banner-about_imgs {
  position: relative;
  padding: 70px 0px;
 
}
.about-bottom-section {
  padding: 36px 0;
}
.about-col-section-inner .field--name-multiple-content > .field__item {
  padding: 0 5px;
  width: 100%;
  margin-bottom: 28px;
}
.about-bottom-section p {
  font-size: 50px;
  font-family: 'Calibre-Light';
  line-height: 56px;
  margin-bottom: 25px;
}
.banner-about_imgs .field--name-background-content p a{
  width: 170px;
}
.banner-about_imgs h2 {
  position: relative;
  color: white;
  width: 92%;
  margin: auto;
  text-align: center;
  font-size: 64px;
  line-height: .9;
}
.equalblocks img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: -12px;
}
#block-videobannersection {
  position: relative;
  height: auto;
}
.block-views-blockfront-page-packages-block-1 .view-front-page-packages .view-header h2 {
  font-size: 50px;

}
.block-views-blockfront-page-packages-block-1 .view-front-page-packages .view-content {
 
  padding-left: 0;
 
}
#block-eachpackageincludes .field--name-body ul li {
  width: 100%;

}
#block-eachpackageincludes {
  padding-bottom: 10px;

}
#block-explorethepossibilitiesofflyingwithskypass h2 {
  width: 84%;
  top: 11%;
  font-size: 54px;
  line-height: 65px;
}
#block-explorethepossibilitiesofflyingwithskypass .field--name-image img {
  height: 482px;
  
}
#block-aircraftdetails {
  padding: 32px 0;
}
#block-aircraftdetails h2 {
  font-size: 59px;
  font-family: 'Calibre-Light';
  line-height: 61px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}
#block-aircraftdetails .field--name-aircraft-details {
 
  padding-top: 0px;
}
#block-ourcompanyairplanegallery .field--name-mutli-images > .field__item .field--name-image img {
  height: auto;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
}
#block-ourcompanyairplanegallery .field--name-mutli-images > .field__item .field--name-plan-title {
  font-size: 24px;
  line-height: 40px;
}
#block-ourcompanyairplanegallery .field--name-mutli-images > .field__item {
  position: relative;
  height: auto;
  margin-bottom: 24px;
}
#block-ourcompanyairplanegallery {
  padding-bottom: 0px;
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 100%;
}
#page-footer {
  padding-top: 79px !important;
}
#page-footer #block-adress {
  max-width: 100%;
  width: 100%;

}
#page-footer nav.block-menu ul.navbar-nav {

  width: 100%;
  
}
#page-footer nav.block-menu ul.navbar-nav{
  padding-top: 16px;
}
#page-footer nav.block-menu ul.navbar-nav li {
  display: inline-block;
  font-size: 30px;
  margin: 7px;
  width: 100%;
}
footer#page-footer #block-copyright {
  max-width: 850px;
  margin: 18px auto;
  text-align: center;
  font-size: 19px;
  line-height: 1.2;
  font-family: 'Calibre';
  width: 100%;
  color: #000;
}
#page-footer .order-2 {

  margin-bottom: 0 !important;
}
#page-footer {

  padding-bottom: 0 !important;
}
#block-videobannersection iframe {
  height: auto;
}
body.path-frontpage .banner-front #block-banner {
  /* position: relative;
  background: url(../image/airone-bann.jpg);
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  height: 66vh;
}
/* update z cls */


  
    #banner-section #block-travelpolicy .field--name-body, 
    #banner-section #block-safetypage .field--name-body {
      width: 100%;
    }
    header#header-menu.menuscroll {
      z-index: 12;
      height: auto;
    }

    header#header-menu.menuscroll .navbar-toggler {
      border: 1px solid black;
      fill: black;
    }
    header#header-menu.menuscroll .navbar-dark .navbar-toggler-icon {
       fill: black;
    }
    header#header-menu.menuscroll #navigation-container #menu-main.search-effect {
       background-color: #411876  ;
       padding: 20px;
    }
    .navigation.menu--flight > .navbar-nav .nav-item{
      margin-left: 0px;
      margin-right: 0px;
    }
    .navigation.menu--flight > .navbar-nav {
      flex-direction: column;
      margin-left:0;
      border-bottom: 2px solid #ccd4e2;
    }
    .path-flight-status #page-content .form-item.custom-control{
      width: 100%;
    }
    .path-flight-status #page-content #aco-flight-status-form{
      width: 100%;
      overflow: hidden;
      padding-left: 85px;
    }
    .path-flight-status #page-content .js-form-item.form-item.custom-control.js-form-type-select.form-type-select.js-form-item-departureairport.form-item-departureairport.form-no-label{
      width: 100%;
    }
    .path-flight-status #page-content #destination-city-wrapper{
      width: 100%;
    }
    .path-flight-status #aco-flight-status-form #edit-airports{
      position: relative;
    }
    .path-flight-status #edit-arrivalairport.custom-select{
      margin-left: 0px;
    }
    .path-flight-status .block-menu.navigation.menu--flight{
      padding-left: 85px;
    }
    body.path-news header#header-menu, body.path-gallery header#header-menu {
      height: auto;
    }
    body.path-news header#header-menu .nav.navbar-nav li.nav-item a, body.path-gallery header#header-menu .nav.navbar-nav li.nav-item a {
      color: #fff;
    }
    .ticket_total_price h3 {
      font-size: 41px;
    }
    .flights-seat-btuns button {
      margin-bottom: 10px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width:767px) {
    .flights-seat-btuns button {
      margin-bottom: 10px;
    }
    .ticket_total_price h3 {
      font-size: 41px;
    }
    form .form-actions {
      width: 100%;
      padding-left: 15px;
      min-height: 176px;
    }
    form .form-actions input[value="Next"] {
      float: left;
    }
    body.path-news header#header-menu .nav.navbar-nav li.nav-item a, body.path-gallery header#header-menu .nav.navbar-nav li.nav-item a {
      color: #fff;
    }
    body.path-news header#header-menu, body.path-gallery header#header-menu {
      height: auto;
    }
    body.path-gallery #banner-section #block-airplanegallery .field--name-body {
      height: 150px;
      text-align: center;
      padding-top: 64px;
    }
    form.aco-book-flight-search-form.antibot {
      margin-bottom: 25px;
    } 
    .view-front-page-packages .view-content .views-row {
      width: 100%;
    }
    .view-front-page-packages .view-header h2 {
      font-size: 54px;
    }
    body.path-packages .view-front-page-packages {
      width: 95%;
    }
    
    #block-alreadyamember {
      color: #fff;
    }
    .sign_in_left {
      width: 100%;
    }
    .sign_in_right {
      display: none;
    } 
    body.user-logged-out.path-user #header-menu {
      width: 100%;
    }
    .sign_in_page form {
      width: 80%;
      margin: 134px auto 0 auto;
    }
    .navigation.menu--flight > .navbar-nav .nav-item{
      margin-left: 0px;
      margin-right: 0px;
    }
    .navigation.menu--flight > .navbar-nav {
      flex-direction: column;
      margin-left:0;
      border-bottom: 2px solid #ccd4e2;
    }
    .path-flight-status #page-content .form-item.custom-control{
      width: 100%;
    }
    .path-flight-status #page-content #aco-flight-status-form{
      width: 100%;
      overflow: hidden;
      padding-left: 85px;
    }
    .path-flight-status #page-content .js-form-item.form-item.custom-control.js-form-type-select.form-type-select.js-form-item-departureairport.form-item-departureairport.form-no-label{
      width: 100%;
    }
    .path-flight-status #page-content #destination-city-wrapper{
      width: 100%;
    }
    .path-flight-status #aco-flight-status-form #edit-airports{
      position: relative;
    }
    .path-flight-status #edit-arrivalairport.custom-select{
      margin-left: 0px;
    }
    .path-flight-status .block-menu.navigation.menu--flight{
      padding-left: 85px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width:1024px){
   
    #banner-section #block-airplanegallery .field--name-body {
      height: 192px;
      padding-top: 48px;
    }
    .view-front-page-packages .front-packages-blocks .plan-links a {
      width: 100%;
      margin-top: 26px;
      border: 2px solid white;
      background: transparent;
      border-radius: 47px;
      transition: .3s;
      padding-bottom: 13px;
      padding-right: 14px;
      padding-left: 13px;
      padding-top: 15px;
      color: #fff;
      font-size: 16px;
    }
    .view-front-page-packages .front-packages-blocks .plan-price {
      font-size: 54px;
    }
    .book_page.flight-purchase .pr40 {
      padding-bottom: 25px;
    }
    form.aco-book-flight-purchase-form .pr40 {
      padding-right: 0;
    }
    .infocontainer {
      padding-bottom: 25px;
    }
    form .form-actions {
      padding-left: 15px;
    }
    .cl6.cs6.search_flights_departures {
      padding-right: 0;
    }
    .cl6.cs6.search_flights_returns {
      padding-left: 0;
    }
    form.aco-book-flight-search-form.antibot {
      margin-bottom: 25px;
    } 
    /* update z */

    header#header-menu a img {
      max-width: 100px;
      margin-right: 30px;
      height: 100px;
  }
  #header-menu .nav.navbar-nav li.nav-item a {
    color: white;
    font-size: 16px;
}
#header-menu .nav.navbar-nav li.nav-item {
  margin-right: 9px;
}
#header-menu #block-useraccountmenu ul li:nth-last-child(1) a {
  width: auto;
  background: white;
  color: black;
  padding: 9px 10px 6px;
  border-radius: 50px;
  transition: .3s;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
}
#header-menu #block-useraccountmenu ul li {
  margin-left: 16px;
}
#header-menu .container {
  width: 94%;
  max-width: 100%;
}
#header-menu #block-newmainmenu .nav.navbar-nav li.nav-item {
  margin-right: 0px;
}
#block-eachpackageincludes .field--name-body ul li {
  width: 100%;
  display: inline-block;
  margin-right: 1px;
  border-top: 2px solid black;
  padding: 23px 0px;
  font-size: 17px;
}
#block-ourcompanyairplanegallery {
  padding-bottom: 70px;
  width: 90%;
  margin: 0 auto;
}
#page-footer {
  
  padding-top: 145px !important;
  
}
#page-footer nav.block-menu ul.navbar-nav li {
  display: inline-block;
  font-size: 30px;
  margin: 23px;
}
#block-ourcompanyairplanegallery .field--name-mutli-images > .field__item:nth-child(1) {
  width: 49.333%;
  padding: 0 15px;
}
#block-ourcompanyairplanegallery .field--name-mutli-images > .field__item:nth-child(2) {
  width: 49.333%;
  padding: 0 15px;
}
    /* update z cls */
    #block-videobannersection iframe ,
    #block-videobannersection {
      height: 550px;
    }
    #header-menu #block-useraccountmenu ul li:nth-last-child(1) a {
      padding: 17px 22px 10px;
    }
    #header-menu #block-useraccountmenu ul li {
      margin-left: 10px;
    }
    #block-ourcompanyairplanegallery .field--name-mutli-images > .field__item .field--name-short-title {
      padding-left: 15px;
    }
    #block-ourcompanyairplanegallery .field--name-mutli-images > .field__item .field--name-plan-title {
      font-size: 38px;
     
      padding: 0 28px 24px 15px;
    }
    .gallery-blog-bottom .rpl h2 {
      font-size: 30px;
      font-family: 'Calibre-Light';
      padding-right: 52px;
    }
    .gallery-blog-bottom .rpl {
      left: 19px;
    }
    .path-flight-status #page-content #aco-flight-status-form {
      width: 80%;
    }
    .path-flight-status #aco-flight-status-form #edit-airports{
      top: 55%;
    }
    .dash_side {
        z-index: 500;
    }
    .ticket_city_big {
        font-size: 25px;
    }
    .ticket_city_small {
        margin-top: -3px;
    }
    .ticket_white .ticket_depart_arrive {
        font-size: 14px;
    }
    .ticket_time {
        font-size: 25px;
        line-height: 28px;
    }
    .ticket_flight_time {
        text-align: center;
        font-size: 30px;
        line-height: 27px;
    }
    .ticket_ft_sm {
        font-size: 18px;
    }
    .sfb .ticket_city_big {
        font-size: 25px;
    }
    .search_stops svg {
        width: 22px;
 
    }
    .col-md-6.search_flights_departures {
        padding-right: 15px;
    }
    .search_flights_times_row .col-md-3 {
        padding-left: 0;
    }
    .search_time_big {
        font-size: 13px;
    }
    .row.fares {
        margin-top: 0px;
    }
    .row.fares .book_page_airport {
        top: 16px;
    }
    .row.fares .fares-types {
        padding-bottom: 15px;
    }
    .col-lg-4.tcb_right, .col-md-4.tcb_right {
        text-align: left;
    }
    .ticket_total .ticket_city_big {
        font-size: 25px;
    }
    .ticket_total_plane svg {
        width: 25px;
    }
    .ticket_total_price h3 {
        font-size: 40px;
    }
    #block-banner .field--name-body {
      width: 70%;
    }
    .block-views-blockfront-page-packages-block-1 .view-front-page-packages .view-header dl {
      font-size: 22px;
      text-align: left;
    }
    .block-views-blockfront-page-packages-block-1 .view-front-page-packages .view-header h2,
    #block-aviationreimagined .col-md-4 .field--name-title {
      font-size: 44px;
    }
    .plan-plans .field--name-plan-info1 > .field__items > .field__item {
      width: 33%;
      padding: 0 0px 0 15px;
    }
    .block-views-blockfront-page-packages-block-1 .view-front-page-packages .front-packages-blocks .name-plan-title {
      font-size: 16px;
      padding: 20px 20px 0 17px;
    }
    .plan-plans .field--name-plan-info1 .paragraph--type--aviation-reimagined- .field--name-plan-title {
      font-size: 18px;
    }
    .block-views-blockfront-page-packages-block-1 .view-front-page-packages .front-packages-blocks .plan-price {
      font-size: 40px;
    }
    .plan-plans .field--name-plan-info1 .paragraph--type--aviation-reimagined- .field--name-plan-price {
      font-size: 56px;
    }
    .block-views-blockfront-page-packages-block-1 .view-front-page-packages .front-packages-blocks .plan-detail,
    .plan-plans .field--name-plan-info1 .paragraph--type--aviation-reimagined- .field--name-plan-description- {
      padding: 20px 2px;
    }
    .plan-plans .field--name-plan-info1 .paragraph--type--aviation-reimagined- .field--name-plan-description- p {
      font-size: 19px;
      width: 80%;
      margin: auto;
      line-height: 17px;
      text-align: center !important;
    }
    .block-views-blockfront-page-packages-block-1 .view-front-page-packages .front-packages-blocks .plan-detail p {
      font-size: 18px;
      line-height: 18px;
    }
    .block-views-blockfront-page-packages-block-1 .view-front-page-packages .front-packages-blocks .plan-links a,
    .plan-plans .field--name-plan-info1 > .field__items > .field__item .paragraph--type--aviation-reimagined- .field--name-plan-link.field--type-link a {
      width: 80%;
      padding-bottom: 13px;
      padding-right: 10px;
      padding-left: 16px;
      padding-top: 15px;
    }
    #block-explorethepossibilitiesofflyingwithskypass h2 {
     
      width: 80%;
     
      top: 30%;
      font-size: 66px;
    }
    #block-explorethepossibilitiesofflyingwithskypass .field--name-body p {
      top: 58%;
    }
    #block-aircraftdetails h2 {
      font-size: 60px;
    }
    #block-aircraftdetails .field--name-body {
      font-size: 32px;
    }
    #block-havequestionscontactoursupportteam h2 {
      font-size: 36px;
      font-family: 'Calibre-Light';
      line-height: 53px;
      padding-left: 50px;
      /* word-break: break-all; */
      padding-right: 201px;
      padding-top: 41px;
    }
    #header-menu .nav.navbar-nav li.nav-item {
      margin-right: 10px;
    }
    header#header-menu a img {
      margin-right: 5px;
    }
    .about-bottom-section .about-col-section .field--name-content-title {
      font-size: 28px;
      padding: 0 44px 30px 30px;
    }
    .about-us-section .eb_text h2 {
      font-size: 60px;
    }
    #block-contactusbanner .field--name-body {
      width: 80%;
      top: 39%;
    }
    .contact-form-section-right-inner form > .custom-processed-text {
      font-size: 45px;
      line-height: 42px;
    }
    .contact-form-section-right-inner {
      padding: 60px 40px;
    }
    header#header-menu.menuscroll a img {
      height: 80px;
    }
    #header-menu .nav.navbar-nav li.nav-item a {
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width:1024px) and (orientation: landscape)  {  
    .book_ticket  .ticket_total_details .col-lg-4, 
    .row.fares .col-md-12.fares-types {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .search_flights_returns .search_flights_titles h3,
    .search_flights_departures .search_flights_titles h3 {
        float: none;
    }
  }

  @media screen and (max-width: 767.98px) {
    #block-ourcompanyairplanegallery .field--name-mutli-images > .field__item:nth-child(2),
    #block-ourcompanyairplanegallery .field--name-mutli-images > .field__item:nth-child(1) {
      width: 100%;
       
    }
    #block-aircraftdetails .field--name-aircraft-details > .field__item {
      width: 100%;
      padding: 0 15px;
    }
    #block-explorethepossibilitiesofflyingwithskypass .field--name-body p {
      top: 75%;
    }
    #block-explorethepossibilitiesofflyingwithskypass h2 {
      width: 94%;
      top: 15%;
      /* font-size: 75px; */
    }
    #block-banner .field--name-body {
      width: 90%;
    }
    .block-views-blockfront-page-packages-block-1 .view-front-page-packages .view-content .views-row {
      width: 100%;
    }
    .block-views-blockfront-page-packages-block-1 .view-front-page-packages .view-header {
      width: 100%;
    }
    .block-views-blockfront-page-packages-block-1 .view-front-page-packages .view-content {
      width: 100%;
    }
    header#header-menu .navbar-collapse .block.block-system-branding-block {
      display: none;
    }
    #block-contactusbanner .field--name-body {
      width: 80%;
    }
    #banner-section .field--name-body p {
      font-size: 60px;
    }
    .contact-form-section-right-inner {
      padding: 41px 25px;
    }
    .contact-form-section-right-inner form > .custom-processed-text {
      font-size: 40px;
      line-height: 42px;
    }
    .faq-section-inner .view-faq.ui-accordion .ui-accordion-header {
      padding-right: 10px;
    }
    #block-havequestionscontactoursupportteam h2 {
      font-size: 24px;
      line-height: 31px;
      padding-left: 15px;
      padding-top: 19px;
      padding-right: 80px;
    }
    #block-havequestionscontactoursupportteam .field--name-body .media--type-image img {
      width: 80px;
      height: 118px;
    }
    #block-havequestionscontactoursupportteam {
      height: 118px;
      margin-bottom: -62px;
    }
    #block-havequestionscontactoursupportteam .text-formatted {
      width: 82px;
    }
    #page-footer #block-adress {
      font-size: 32px;
    }
    header#header-menu.menuscroll {
      box-shadow: 0 0px 0px 0px rgb(0 0 0);
      -webkit-box-shadow: 0 0px 0px 0px rgb(0 0 0);
      box-shadow: 0 0px 0px 0px rgb(0 0 0);
      background: transparent;
    }
    header#header-menu .bg-secondary {
      background-color: #411876 !important;
    }
    header img.show-logo {
       display: block;
    }
    header#header-menu.menuscroll #menu-main nav#block-useraccountmenu ul li a,
    header#header-menu.menuscroll .nav.navbar-nav li.nav-item a,
    header#header-menu.menuscroll a.navbar-brand {
      color: #fff;
    }
    #header-menu #block-useraccountmenu ul li {
      margin-left: 7px;
    }
    #header-menu #block-useraccountmenu ul li:nth-last-child(1) {
      padding-top: 8px !important;
    }
    #header-menu #block-useraccountmenu ul li:nth-last-child(1) a {
      width: auto;
      background: white;
      color: black;
      padding: 15px ​11px 10px 11px;
      padding-top: 15px;
      padding-right: ​11px;
      padding-bottom: 10px;
      padding-left: 11px;
      border-radius: 50px;
      transition: .3s;
      border: 0px;
      font-size: 18px;
      cursor: pointer;
    }
    header#header-menu.menuscroll #block-useraccountmenu ul li:nth-last-child(1) a {
      background:white ;
      color: #411876 !important;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width:1300px) {
    #header-menu .nav.navbar-nav li.nav-item {
      margin-right: 25px;
    }
  } 