{#
/**
 * @file
 * Theme override for a charges table row.
 */
#}
<div class="col-sm-6 bp_b4 bp_desc">
  <span class="book_page_time">{{ description }}</span>
</div>
<div class="col-sm-2 bp_b4 bp_amount">
  <span class="book_page_time book_price_fr">{{ amount }}</span>
</div>
<div class="col-sm-2 bp_b4 bp_tax">
  <span class="book_page_time book_price_fr">{{ taxes }}</span>
</div>
<div class="col-sm-2 bp_b4 bp_total">
  <span class="book_page_time book_price_fr">{{ total }}</span>
</div>
