{#
/**
 * @file
 * Theme override for seats.
 */
#}
{% for flight in flights %}
  <div data-tab="{{ loop.index0 }}" class="booking_seats">
    <img src="/themes/custom/airchoiceone/images/seat-assignment.png" alt="{{ 'Seat assignment'|t }}">
    <div class="seats">
      <ul class="block-list">
        {% for seat in flight.seats %}
          {{ seat }}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}
